<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoリスト</title>
    <link rel="stylesheet" href="/public/task.css">
</head>
<body>
    <div class="container">
        <h1>Todoリスト</h1>
        <input type="text" id="taskInput" placeholder="タスクを入力してください">
        <button id="addTaskButton">タスクを追加</button>
        <ul id="taskList"></ul>
    </div>
    <script src="/public/task.js"></script>
</body>
</html>
